
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Admin and Student can Register here</p>
        <a href="/users/register/admins" class="btn btn-primary btn-block mb-2"
          >Register as a Admin</a
        >
        <a href="/users/login/students" class="btn btn-secondary btn-block">Register as a Student</a>
      </div>
    </div>
  </div>