<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fas fa-user-tie"></i></h1>
      <h2>Register Here</h2>
      <a href="/register/admin" class="btn btn-primary btn-block mb-2"
        >Register As A Admin</a>
      <a href="/register/student" class="btn btn-secondary btn-block">Register As A 
      Student</a>
      <a href="/register/college" class="btn btn-primary btn-block">Register As A 
        College</a>
    </div>
  </div>
</div>